/* table for product viewing in cms */
.table1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: solid black 2px;
  }
  
  td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: greenyellow;
  }
  